
<div class="bg-dark">
    <div class="row mt-5">
        <div class="col-lg-6 col-md-12 p-3"> 
          <form class="text-white rounded-4 my-5 cardStyle" >
            <p class="text-white text-center py-3 bg-danger cardImgStyle fw-bold fs-5">
              Cambio de Contraseña
            </p>              
              {{#if codeIsValid}}
              <div id="inputDiv" class="mb-3 mx-3">
                
                <div  class="mb-3 mx-3">
                  <label for="exampleInputPassword1" class="form-label">Nueva Contraseña</label>       
                  <p id="invalidPassword" class="mb-1 mx-1 text-danger"></p>                  
                  <input type="text" class="form-control" id="password" name="password" placeholder="Password">
                  <input id="code" type="hidden" value="{{code}}" >
                  
                </div>

                <div class="pb-3 mx-3 d-flex justify-content-end">
                  <button id="passwordCheck" class="btn btn-primary ">Confirmar Contraseña</button>
                </div>
              </div>
              {{/if}}
              {{#unless codeIsValid}}
                <div class="mb-3 mx-3">
                  <label for="exampleInputPassword1" class="form-label">TIEMPO AGOTADO</label>
                  <p>Por favor volver a solicitar mail de Recuperacion</p>
                  <a class="btn btn-success mx-3 " href="api/users/recoverPassword">Volver</a>
                </div>
              {{/unless}}
            </form>
        </div>
    </div>
</div>

<script src="/js/changePassword.js"></script>

