
<div class="bg-dark {{userExist}} {{firstTry}} ">
    <div class="row mt-5">
        <div class="col-lg-6 col-md-12 p-3"> 
          <form class="text-white rounded-4 my-5 cardStyle" >
            <p class="text-white text-center py-3 bg-danger cardImgStyle fw-bold fs-5">
              Recuperacion de contraseña
            </p>
            <div class="mb-3 mx-3">                
                {{#if userExist}}
                  <h1 for="validationCustomUsername" class="form-label">Email enviado con exito</h1>                
                {{/if}}

                {{#unless userExist}}
                <label for="validationCustomUsername" class="form-label">Email</label>
                    {{#if firstTry}}
                    <div class="mb-3 mx-3">
                    </div>
                    <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                    {{/if}}
                    
                    {{#unless firstTry}}
                    <h1 class="form-text text-danger">Usuario invalido por favor volver a intentar</h1>
                    <input type="text" class="form-control border border-danger border-5" id="email" name="email" placeholder="Email">
                    {{/unless}}
                {{/unless}}

                
                
              </div>
              {{#unless userExist}}
                <div class="pb-3 mx-3 d-flex justify-content-end">                
                  <button id="recover" class="btn btn-primary ">Recuperar contraseña</button>
                </div>
              {{/unless}}

            </form>
        </div>
    </div>
</div>

<script src="/js/recoverPassword.js"></script>
